<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:p="http://www.springframework.org/schema/p"
xmlns:c="http://www.springframework.org/schema/c"
xmlns:util="http://www.springframework.org/schema/util"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-4.0.xsd
http://www.springframework.org/schema/util
http://www.springframework.org/schema/util/spring-util-4.0.xsd
http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">
    
    <context:annotation-config/>
    
    <context:component-scan base-package="domain.instrument"/>
    <context:component-scan base-package="domain"/>
  
    <bean id="prince" class="domain.performer.Singer">
        <constructor-arg value="Prince"/>
        <constructor-arg value="Walk in Sand"/>
    </bean>
    
    <bean id="baseSaxophonist" class="domain.performer.Instrumentalist" abstract="true">
        <property name="song" value="Hymn Of The Orient"/>
    </bean>
    
    <bean id="james" parent="baseSaxophonist"/>
    <bean id="miley" parent="baseSaxophonist"/>
</beans>